/*navbar format*/
#m_navbar {
    list-style: none;
    font-weight: bold;
    height:40px;
    background-color: #EEE;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    margin-top: 0px;
    clear: bottom;
    z-index:9; 
}

#m_navbar ul{
    position: fixed;
    top: 0;
}

#m_navbar li {
    float: left;
    padding: 6px;
}

.navbar_item {
    display: block;
    color: black;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
}

 #m_navbar li:hover {
    background-color: #CCE;
}

#m_navbar .navbar_item:hover{
    background-color: #CCE;
}

 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #EEE;
    min-width: 160px;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#active {
    background-color: #AAA;
}

/*content format*/
#img_container {
    text-align: center;
}

#text {
    font-size: 14px;
}

#text-block {  
    text-indent: 50px;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
}

#inline-block {
    position: relative;
    margin-left: 50px;
    margin-top: 0px;
}

/* footer format */
#m_footer {
    text-align: center;
}

.snippet{
    background-color: rgb(220, 220, 220);
    display: block;
    box-sizing: border-box;
  }

figure{
    display: table;
}

figcaption{
    word-wrap:normal;
    text-align: center;
    font-size: 10px;
}

  pre{
    white-space: normal;
    word-wrap: normal;
  }
  
  .kwd1{
    color: rgb(0, 0, 139);
  }
  
  .typ{
    color: rgb(43, 215, 115);
  }
  
  .kwd2{
    color: rgb(175, 45, 175);
  }
  
  .cmt{
    color: rgb(45, 175, 45);
  }
  
  .arg{
    color: rgb(43, 145, 200);
  }